@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}
*{
  scrollbar-width: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Ajouter le défilement fluide */
.scroll-smooth {
  scroll-behavior: smooth;
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .Navbar-box{
    height: 96px;
  }
  .mini-searchbar{
    display: flex;
  }
  .big-searchbar{
    display: none;
  }
  .dropdown{
    display: flex;
  }
  .box-links{
    display: flex;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Navbar-box{
    height: 64px;
  }
  .mini-searchbar{
    display: flex;
  }
  .big-searchbar{
    display: none;
  }
  .dropdown{
    display: none;
  }
  .box-links{
    display: none;
  }
}

/* Small devices (landscape phones, tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Navbar-box{
    height: 96px;
  }
  .mini-searchbar{
    display: none;
  }
  .big-searchbar{
   display: flex; 
  }
  .dropdown{
    display: none;
  }
  .box-links{
    display: none;
  }
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  .Navbar-box{
    height: 96px;
  }
  .mini-searchbar{
    display: none;
  }
  .big-searchbar{
   display: flex; 
  }
  .dropdown{
    display: none;
  }
  .box-links{
    display: none;
  }
}