@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}
*{
  scrollbar-width: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Ajouter le défilement fluide */
.scroll-smooth {
  scroll-behavior: smooth;
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .Navbar-box{
    height: 96px;
  }
  .mini-searchbar{
    display: flex;
  }
  .big-searchbar{
    display: none;
  }
  .dropdown{
    display: flex;
  }
  .box-links{
    display: flex;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Navbar-box{
    height: 64px;
  }
  .mini-searchbar{
    display: flex;
  }
  .big-searchbar{
    display: none;
  }
  .dropdown{
    display: none;
  }
  .box-links{
    display: none;
  }
  
}

/* Small devices (landscape phones, tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Navbar-box{
    height: 96px;
  }
  .mini-searchbar{
    display: none;
  }
  .big-searchbar{
   display: flex; 
  }
  .dropdown{
    display: none;
  }
  .box-links{
    display: none;
  }
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  .Navbar-box{
    height: 96px;
  }
  .mini-searchbar{
    display: none;
  }
  .big-searchbar{
   display: flex; 
  }
  .dropdown{
    display: none;

  }
  .box-links{
    display: none;
  }
  .first-row{
    justify-content: center;
  }
}

@media (max-width:810px){
  .first-row{
    gap: 18px;
  }
}








